{% extends 'adminportal/base.html' %}
{% load static %}
{% block content %}
{% include 'adminportal/navbar.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Reserve Pre Order Table</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><i class="fa fa-envelope-o"></i> Tables</li>
            <li class="active"><i class="fa fa-table"></i> Data Tables</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <a href="{% url 'adminaddproduct' %}" class="btn btn-info">Add Reserve</a>
                    <div id="example_filter" class="dataTables_filter pull-right">
                        <input class="form-control" id="placeholderInput" placeholder="Search" type="email">
                    </div>
                    <table class="table table-responsive" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <!-- <th class="sortable">SN</th> -->
                                <th class="sortable">Full Name</th>
                                <th class="sortable">Email</th>
                                <th class="sortable">Phone Number</th>
                                <th class="sortable">Product</th>
                                <!-- <th>Amount</th> -->
                                <th>PreOrder Amount</th>
                                <th class="sortable">Date</th>
                                <th class="sortable">Action</th>
                            </tr>
                        </thead>
                        {% for reserve in reserve %}
                        <tr>
                            <!-- <td class="text-truncate">{{ product.id }}</td> -->
                            <td class="text-truncate"><a href="#">{{ reserve.preoderFName }}
                                    {{reserve.preoderLName}}</a></td>
                            <td class="text-truncate">$ {{ reserve.preoderEmail }}</td>
                            <td class="text-truncate">$ {{ reserve.preoderPhoneNum }}</td>
                            <td class="text-truncate">{{ reserve.product }}</td>
                            <td>$ {{ reserve.reserve_preoderAmount }}</td>
                            <td class="text-truncate">{{ reserve.preoderDate }}</td>
                            <td><a class="lable-tag tag-success">Edit</a> <a
                                    href="{% url 'admindeletereserve' reserve.id %}"
                                    class="lable-tag tag-unpaid">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <!-- <ul class="pagination m-bot-0">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </section>
    <!-- content -->
</div>
<!-- content-wrapper -->
{% include 'adminportal/footer.html' %}
{% endblock %}