{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Thank You For Your Reserve</h2>
                <a href="{% url 'home' %}" class="btn btn-success">Back To Home</a>
                <!-- <p>Already a member? <a href="login.html" class="thembo"> Login here</a></p> -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- Contact section end -->

{% endblock %}